*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* HEADER */
.header {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 24px;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
}

/* MAIN */
.main {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 10px;
}

.content {
  flex-basis: 400px;
}

.content > * {
  margin: 10px 0;
}

.content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  
}

.content p {
  font-size: 18px;
  color: #e5e7eb;
}

.content button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 32px;
  border: 0;
  font-weight: 700;
  border-radius: 5px;
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 500px;
  color: #fff;
  background-color: #ffffff66;
  height: 240px;
}