*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.header {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 24px;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
}