@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* HEADER */
.header {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 24px;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
}

/* MAIN */
.main {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 10px;
}

.content {
  flex-basis: 400px;
}

.content>* {
  margin: 10px 0;
}

.content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;

}

.content p {
  font-size: 18px;
  color: #e5e7eb;
}

.content button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 32px;
  border: 0;
  font-weight: 700;
  border-radius: 5px;
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 500px;
  color: #fff;
  background-color: #ffffff66;
  height: 240px;
}

/* Information */

/* Detail */

.detail {
  height: 400px;
}

.detail h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 25px 0;
}

.detail>.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.detail>.cards>.card {
  flex-basis: 150px;
  text-align: center;
}

.detail>.cards>.card>div {
  width: 140px;
  height: 140px;
  margin: 10px auto;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

/* quote */
.quote {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote blockquote {
  max-width: 700px;
  padding: 0 20px;
}

.quote blockquote p {
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
  font-size: 36px;
}

.quote blockquote footer {
  text-align: right;
  font-weight: 900;
  font-size: 24px;
}